td.expression-cell:hover .expression {
    display: inline !important;
}

td.period:hover .comment {
    visibility: visible !important;
}

.expression {
    display: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin-left: 1em;
}

.comment {
    position: relative !important;
    visibility: hidden;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    top: -10px;
}

.has-expression .expression {
    color: blue;
    display: inline !important;
}

.comment.fill {
    color: blue;
    visibility: visible !important;
}

tr.selected-row {
    background-color: lightgray !important;
}

.selected-table tr {
    background-color: lightgray !important;
}

th.period {
    text-align: right;
    min-width: 150px;
    padding-right: 17px;
}

td.period {
    text-align: right;
}