<md-toolbar color="primary">
  <button md-icon-button aria-label="Settings" routerLink="/groups">
    <md-icon>arrow_back</md-icon>
  </button>
  Workgroup - {{group.workgroupName}}
  <span class="app-toolbar-filler"></span>
  <button md-icon-button>
    <md-icon>save</md-icon>
  </button>
</md-toolbar>
<div class="app-content">
  <md-card>
    <md-card-header>
      <div md-card-avatar><md-icon style="font-size: 40px;">group</md-icon></div>
      <md-card-title>GENERAL</md-card-title>
      <md-card-subtitle>{{group.workgroupName}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <form>
        <p>
          <md-input-container class="p100">
            <input md-input placeholder="Group name" [(ngModel)]="group.workgroupName" name="workgroupName">
          </md-input-container>
        </p>
        <p>
          <md-input-container class="p100">
            <textarea rows="3" md-input placeholder="Description" [(ngModel)]="group.description" name="description"  ></textarea>
          </md-input-container>
        </p>
        <p>
          <md-input-container class="p100">
            <textarea rows="3" md-input placeholder="Comments" [(ngModel)]="group.comments" name="comments"  ></textarea>
          </md-input-container>
        </p>
      </form>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-header>
      <div md-card-avatar><md-icon>person</md-icon></div>
      <md-card-title>USERS</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-data-table layout-fill [selectable]="true">
        <thead>
          <tr md-data-table-header-selectable-row >
            <th class="md-text-cell">Login ID</th>
            <th class="md-text-cell">Domain</th>
            <th class="md-text-cell">User Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" md-data-table-selectable-row [selectable-value]="user.userId">
            <td class="md-text-cell">{{ user.loginId }}</td>
            <td class="md-text-cell">{{ user.domain }}</td>
            <td class="md-text-cell">{{ user.userName }}</td>
          </tr>
        </tbody>
      </md-data-table>
    </md-card-content>
  </md-card>
</div>