<div class="form-group row no-gutters" [ngClass]="{
    'over': isOver,
    'dirty': value().state.dirty,
    'has-expression': expression(),
    'has-comment': comment()
  }">
  <label class="col-sm-3 col-form-label col-form-label-sm">{{document.variableDefinitions[variableId()].prompt}}</label>
  <div class="col-sm-9">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-sm" 
            name="dp" 
            [ngModel]="value().safe()|date2Model" ngbDatepicker #d="ngbDatepicker" 
            (ngModelChange)="change($event)"
            [disabled]="document.readonly"
            [readonly]="expression() ? 'true' : null">
      <div class="input-group-addon" (click)="!document.readonly && d.toggle()" [style.cursor]="document.readonly?'not-allowed':'pointer'">
        <i class="fa fa-calendar" ></i>
      </div>
    </div>
  </div>
</div>