<!--<md-input-container style="width: 100%"
  [ngClass]="{
    'dirty': value().state.dirty,
    'has-expression': expression()
  }"
  >
  <input md-input type="date"
    #input
    [readonly]="expression() ? 'true' : null"
    placeholder="{{document.variableDefinitions[variableId()].prompt}}" 
    [ngModel]="value().safe() | date:'yyyy-MM-dd'"
    (blur)="value().update(input.value)">
</md-input-container>-->
<input class="form-control" placeholder="yyyy-mm-dd"
      name="dp" 
      [ngModel]="value().safe() | date:'yyyy-MM-dd'" ngbDatepicker #d="ngbDatepicker" 
      (change)="value().update(input.value)"
      [readonly]="expression() ? 'true' : null">
<div class="input-group-addon" (click)="d.toggle()" >
  <i class="fa fa-calendar" aria-hidden="true"></i>
</div>