<div style="overflow-x: scroll;" [sync-scroll]="groupName" (on-scroll)="onScroll()">
  <table class="table table-sm table-bordered" [ngClass]="{'selected-table': selectedCP['h']}">
    <thead>
    <tr>
      <th>
        <copy-paste-box 
          (focusChange)="selectedCP['h']=$event"
          [value]="text2CopyAll" 
          (onPaste)="onPasteAll($event)"></copy-paste-box>
      </th>
      <th style="min-width: 20px"></th>
      <th style="min-width: 100px">Category</th>
      <th style="min-width: 250px">Variable</th>
      <th style="min-width: 140px">Unit</th>
      <th *ngFor="let column of cachedColumns" class="period">{{column}}</th>
    </tr>
    </thead>
    <tbody *ngFor="let variableId of editor.variableIds; let idx=index">
      <tr [ngClass]="{
          'dirty': value(variableId).state.dirty,
          'updated': value(variableId).state.updated,
          'has-expression': value(variableId).periodicExpression(),
          'selected-row': selectedCP[idx]
        }">
        <td>
          <copy-paste-box 
            (focusChange)="selectedCP[idx]=$event"
            [value]="rowContexts[idx].text2Copy" 
            (onPaste)="onPasteRow($event, variableId, idx)"></copy-paste-box>
        </td>
        <td (click)="expandLineItems(idx,!expanded[idx])" class="pointer expander" style="text-align: center">
          <i class="fa fa-caret-right" [hidden]="expanded[idx]" ></i>
          <i class="fa fa-caret-down" [hidden]="!expanded[idx]" ></i>
        </td>
        <td>{{document.variableDefinitions[variableId].category.name}}</td>
        <td class="expression-cell">
          {{document.variableDefinitions[variableId].prompt}}
          <span class="expression" title="{{value(variableId).periodicExpression()}}" >
            &fnof;
          </span>
        </td>
        <td>
          <select [(ngModel)]="rowContexts[idx].selectedUnit" class="form-control form-control-sm" style="border-radius: 0; background-color: white">
            <option *ngFor="let unit of rowContexts[idx].units" [ngValue]="unit">
              {{ unit.display }}
            </option>
          </select>
        </td>
        <td *ngFor="let colValue of value(variableId).values() | slice:0:maxCols; let periodIdx = index" class="period">
          {{ computedValue(colValue.value, rowContexts[idx].selectedUnit) }}
          <i class="fa fa-comment comment" [hidden]="editionIdx===idx" title="{{comment(variableId, periodIdx)}}" 
              [readonly]="document.readonly" [open-comment]="value(variableId)" [index]="periodIdx"
              [ngClass]="{'fill': comment(variableId, periodIdx)}"></i>
        </td>
      </tr>
      <tr *ngIf="expanded[idx]">
        <td [attr.colspan]="cachedColumns.length+5" style="background: #f7f7f9">
          <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th style="width: 36px; text-align: center">
                  <i class="fa fa-plus-circle pointer" style="color: blue" [hidden]="document.readonly" (click)="addLineItem(variableId)"></i>
                </th>
                <th style="width: 50px">ID</th>
                <th style="width: 50px"></th>
                <!--<th style="width: 100px">Line Type</th>-->
                <th style="width: 170px">Data Type</th>
                <th style="width: 150px">Comment</th>
                <th>Values</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of value(variableId).data.lineItems; let lineItemIdx = index;">
                <td style="text-align: center">
                  <i class="fa fa-trash pointer" [hidden]="document.readonly" style="color:red" (click)="removeLineItem(lineItemIdx, variableId)"></i>
                </td>
                <td>{{lineItemIdx+1}}</td>
                <td style="text-align: center;">
                  <label class="custom-control custom-checkbox" style="margin-left: auto;margin-right: auto;clear: both;">
                    <input type="checkbox" 
                      [disabled]="document.readonly"
                      #input
                      [checked]="item.operation==='Add'"
                      (change)="updateLineItemOperation(variableId, lineItemIdx, input.checked)"
                      class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                  </label>
                </td>
                <!--<td>{{item.lineType}}</td>-->
                <td>
                  <select #select
                      [(ngModel)]="item.lineItemType"
                      class="form-control form-control-sm" 
                      (change)="changeLineItemType(idx, variableId, item, lineItemIdx)"
                      [disabled]="document.readonly ? 'true' : null">
                    <option *ngFor="let value of lineItemTypeTexts" [ngValue]="value">
                      {{value}}
                    </option>
                  </select>
                </td>
                <td>
                  <input [disabled]="document.readonly" type="text" [(ngModel)]="item.comment" (blur)="changeLineItemComment(variableId)" class="form-control form-control-sm" (keyup.enter)="$event.srcElement.blur()" onfocus="this.select()"/>
                </td>
                <td>
                  <span *ngIf="!expanded[idx][lineItemIdx]" class="pointer" [ngClass]="{'disabled':document.readonly}" (click)="!document.readonly && editLineItem(idx,lineItemIdx)">{{buildfriendlyDescription(item,idx)}}</span>
                  <line-item-dated-value [document]="document" [item]="item" (onChange)="changeLineItem(idx,variableId, $event,lineItemIdx)" (cancel)="closeLineItem(idx,lineItemIdx)" *ngIf="expanded[idx][lineItemIdx] && item.lineItemType === 'Dated Value'"></line-item-dated-value>
                  <line-item-escalating-value [document]="document" [item]="item" (onChange)="changeLineItem(idx,variableId, $event,lineItemIdx)" (cancel)="closeLineItem(idx,lineItemIdx)" *ngIf="expanded[idx][lineItemIdx] && item.lineItemType === 'Escalating Value'"></line-item-escalating-value>
                  <line-item-periodic-values  [document]="document" [unit]="rowContexts[idx].selectedUnit" [item]="item" (onChange)="changeLineItem(idx,variableId, $event,lineItemIdx)" (cancel)="closeLineItem(idx,lineItemIdx)" *ngIf="expanded[idx][lineItemIdx] && item.lineItemType === 'Periodic Values'"></line-item-periodic-values>
                  <line-item-expression [document]="document" [scenario]="scenario" [value]="value(variableId)" [item]="item" (onChange)="changeLineItem(idx,variableId, $event,lineItemIdx)" (cancel)="closeLineItem(idx,lineItemIdx)" *ngIf="expanded[idx][lineItemIdx] && item.lineItemType === 'Expression'"></line-item-expression>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>