<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
  <input type="text" #input
    (focus)="input.select()"
    class="form-control"
    [(ngModel)]="text"
    >
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="ok()">
    <i class="fa fa-check" aria-hidden="true"></i> Ok
  </button>
  <button type="button" class="btn btn-outline-secondary" (click)="cancel()">
    <i class="fa fa-times" aria-hidden="true"></i> Cancel
  </button>
</div>