<table class="table table-sm" style="width: 750px">
    <thead>
        <tr>
            <th colspan="2"></th>
            <th style="width: 30%">Value</th>
            <th colspan="2">Start</th>
            <th colspan="2">End</th>
            <th style="min-width: 120px">Esc %</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width: 40px">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="ok()">
                    <i class="fa fa-check" ></i>
                </button>
            </td>
            <td style="width: 40px">
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="close()">
                    <i class="fa fa-times" ></i>
                </button>
            </td>
            <td>
              <input type="number" [(ngModel)]="value" class="form-control form-control-sm" (keyup.enter)="ok()" (keyup.esc)="close()"/>
            </td>
            <td style="width: 120px">
              <select #select
                  [(ngModel)]="selectedStartYear"
                  class="form-control form-control-sm">
                <option *ngFor="let year of years" [ngValue]="year">
                  {{year}}
                </option>
              </select>
            </td>
            <td style="width: 90px">
              <select #select
                  [(ngModel)]="selectedStartMonth"
                  class="form-control form-control-sm">
                <option *ngFor="let month of months" [ngValue]="month">
                  {{month}}
                </option>
              </select>
            </td>
            <td style="width: 120px">
              <select #select
                  [(ngModel)]="selectedEndYear"
                  class="form-control form-control-sm">
                <option *ngFor="let year of years" [ngValue]="year">
                  {{year}}
                </option>
              </select>
            </td>
            <td style="width: 90px">
              <select #select
                  [(ngModel)]="selectedEndMonth"
                  class="form-control form-control-sm">
                <option *ngFor="let month of months" [ngValue]="month">
                  {{month}}
                </option>
              </select>
            </td>
            <td>
              <input type="number" [(ngModel)]="escalationRate" class="form-control form-control-sm" (keyup.enter)="ok()" (keyup.esc)="close()"/>
            </td>
        </tr>
    </tbody>
</table>  