<div *ngIf="_variableId" ng2FileDrop
        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
        (fileOver)="fileOverBase($event)"
        [uploader]="uploader">
    <div [hidden]="!uploader.isUploading">
        <div>
            <div>
                <ngb-progressbar class="example-margin" type="info" [value]="uploader.progress"></ngb-progressbar>
            </div>
            <!-- TODO cancel -->
            <!--<button type="button" class="btn btn-warning btn-sm" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading" style="margin-left: 1em;">
                <i class="fa fa-ban" aria-hidden="true"></i> Cancel all
            </button>-->
        </div>

    </div>
    <!--<ul class="list-unstyled">
        <li class="media" *ngFor="let file of value(_variableId).safe()">
            <i style="font-size: 30px;" class="fa fa-paperclip d-flex mr-3" aria-hidden="true"></i>
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{file.fileName}}</h5>
                {{file.saveInDbAsText}}
            </div>
        </li>
    </ul>-->
    <table class="table table-sm">
        <thead>
            <tr>
                <th></th>
                <th>File Name</th>
                <th>Location</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of value(_variableId).safe()">
                <td>
                    <i class="fa fa-file" aria-hidden="true"></i>
                </td>
                <td>{{file.fileName}}</td>
                <td>{{file.fullName}}</td>
                <td></td>
                <td>
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>