<div *ngIf="_variableId" ng2FileDrop
        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
        (fileOver)="fileOverBase($event)"
        [uploader]="uploader">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="border-radius: 5px">
        <div class="collapse navbar-collapse">
            <form class="form-inline my-2 my-lg-0">
                <button type="button" class="btn btn-sm btn-secondary" (click)="saveLink()">
                    <i class="fa fa-paperclip" aria-hidden="true"></i> Save Link
                </button>
                <label for="selectFiles" style="margin-left: 1em">
                    <span class="btn btn-sm btn-secondary">
                        <i class="fa fa-upload" aria-hidden="true"></i> Upload
                    </span>
                    <input id="selectFiles" ng2FileSelect [uploader]="uploader" type="file" style="position: absolute; top: -10000px" multiple/>
                </label>
                <span style="margin-left: 1em">Or drop files here!</span>
            </form>
        </div>
    </nav>
    <div [hidden]="!uploader.isUploading">
        <div>
            <div>
                <ngb-progressbar class="example-margin" type="info" [value]="uploader.progress"></ngb-progressbar>
            </div>
        </div>
    </div>
    <table class="table table-sm" style="margin-top: 5px">
        <thead>
            <tr>
                <th></th>
                <th>File Name</th>
                <th>Location</th>
                <th>Description</th>
                <th style="text-align: center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of value(_variableId).safe()">
                <td>
                    <i [hidden]="!file.saveInDB" class="fa fa-file" aria-hidden="true"></i>
                    <a [hidden]="!file.isWebLink" [href]="file.fileName" target="_blank"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                </td>
                <td>
                    <a [href]="downloadURL(file)" [hidden]="!file.saveInDB">{{file.fileName}}</a>
                    <a [href]="file.fileName" target="_blank" [hidden]="!file.isWebLink">{{file.fileName}}</a>
                </td>
                <td>{{file.fullName}}</td>
                <td></td>
                <td style="text-align: center">
                    <a [href]="downloadURL(file)" [hidden]="!file.saveInDB"><i class="fa fa-download" aria-hidden="true"></i></a>
                    <a [href]="file.fileName" target="_blank" [hidden]="!file.isWebLink"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                    <i class="fa fa-trash" aria-hidden="true" style="cursor: pointer; margin-left: 0.5em" (click)="removeFile(file)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>