<div class="modal-header">
  <h4 class="modal-title">Expression Editor</h4>
</div>
<div class="modal-body" style="padding-top: 5px;font-size: 12px;">
  <div class="row" *ngIf="!document.readonly">
    <div class="col-12 col-xl-6">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="margin-bottom: 4px;">
            <div class="collapse navbar-collapse">
                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Search variables..." [(ngModel)]="variableQuery" [ngModelOptions]="{standalone: true}">
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-secondary" type="button" (click)="variableQuery=''" [disabled]="variableQuery===''">
                                <i class="fa fa-times"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </nav>
        <div style="overflow: auto;" class="expression-table-lg expression-table-md">
            <table class="table table-sm" >
                <thead>
                <tr>
                    <th>Variable</th>
                    <th>Type</th>
                    <th>Unit</th>
                    <th>Category</th>
                    <th>Add</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let arg of filteredVariables()">
                    <td>{{arg.prompt}}</td>
                    <td>{{arg.variableDataType}}</td>
                    <td>{{arg.unit.name}}</td>
                    <td>{{arg.category.name}}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-success" (click)="add(arg)">
                            <i class="fa fa-plus-circle"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 col-xl-6" >
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="margin-bottom: 4px;">
            <div class="collapse navbar-collapse">
                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Search functions..." [(ngModel)]="functionQuery" [ngModelOptions]="{standalone: true}">
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-secondary" type="button" (click)="functionQuery=''" [disabled]="functionQuery===''">
                                <i class="fa fa-times"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </nav>
        <div style="overflow: auto;" class="expression-table-lg expression-table-md">
            <table class="table table-sm">
            <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Add</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fn of filteredFunctions()">
                <td>
                    <i style="cursor: help" class="fa fa-question-circle" title="{{fn.helpText}}"></i>
                    {{fn.functionName}}
                </td>
                <td>{{fn.category}}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-success" (click)="addFn(fn)">
                        <i class="fa fa-plus-circle"></i>
                    </button>
                </td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
  </div>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="margin-bottom: 4px;">
      <div class="collapse navbar-collapse">
        <i [hidden]="error.longMessageText" style="color: green;font-size: 27px;" class="fa fa-check-circle-o"></i>
        <i [hidden]="!error.longMessageText" style="color: red;font-size: 27px;" class="fa fa-times-circle-o"></i>
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0" *ngIf="!document.readonly">
          <button type="button" class="btn btn-sm btn-secondary" (click)="expression = '';inputExpression.focus()">
              Clear Expression <i style="color: red;" class="fa fa-times"></i>
          </button>
          <button type="button" class="btn btn-sm btn-secondary" style="margin-left: 1em" (click)="validate(inputExpression.value)">
              Validate <i style="color: green;" class="fa fa-check-circle-o"></i>
          </button>
        </form>
      </div>
  </nav>
  <div class="form-group row no-gutters">
    <textarea #inputExpression
        style="height: 100px "
        [(ngModel)]="expression"
        [readonly]="readonly"
        class="form-control expression-text-lg expression-text-md">
    </textarea>
  </div>
  <div *ngIf="error.longMessageText">
    <ngb-alert [dismissible]="false" [type]="'danger'">
      <strong>Error!</strong> {{error.longMessageText}}
    </ngb-alert>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="ok(inputExpression.value)" [hidden]="readonly">
    <i class="fa fa-check" ></i> Ok
  </button>
  <button type="button" class="btn btn-secondary" (click)="cancel()">
    <i class="fa fa-times" ></i>
    <span [hidden]="readonly">Cancel</span>
    <span [hidden]="!readonly">Close</span>
  </button>
</div>