.over .expression {
    display: inline !important;
}

.over .comment {
    /*display: inline-block !important;*/
    visibility: visible !important;
}

.expression {
    display: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin-left: 1em;
}

.comment {
    position: relative !important;
    /*display: none;*/
    visibility: hidden;
    cursor: pointer;
    font-size: 10px;
    /*top: -26px;*/
    font-weight: bold;
    /*margin-top: -26px;*/
    top: -10px;
}

.has-expression .expression {
    color: blue;
    display: inline !important;
}

.comment.fill {
    color: blue;
    /*display: inline-block !important;*/
    visibility: visible !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
