<div style="overflow-x: scroll;">
  <table class="table table-sm table-bordered">
    <thead>
    <tr>
      <th style="min-width: 100px">Category</th>
      <th style="min-width: 250px">Variable</th>
      <th style="min-width: 140px">Unit</th>
      <th *ngFor="let column of value().data.values" style="text-align: right;min-width: 150px">{{column.periodString}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let variableId of editor.variableIds; let idx=index" [ngClass]="{
        'dirty': value(variableId).state.dirty,
        'has-expression': value(variableId).periodicExpression()
      }">
      <td>{{document.variableDefinitions[variableId].category.name}}</td>
      <td>{{document.variableDefinitions[variableId].prompt}}</td>
      <td>
        <select [(ngModel)]="selectedUnitsByRow[idx]" class="form-control form-control-sm" style="border-radius: 0;">
          <option *ngFor="let unit of unitsByRow[idx]" [ngValue]="unit">
            {{ unit.display }}
          </option>
        </select>
      </td>
      <td *ngFor="let value of value(variableId).data.values; let periodIdx = index" style="text-align: right;" 
          [style.cursor]="cellCursor(idx)" (click)="edit(idx)">
        <!--<span (mouseover)="mouseover[idx+value.periodString]=true" (mouseout)="mouseover[idx+value.periodString]=false" [ngClass]="{
            'over': mouseover[idx+value.periodString],
            'has-comment': comment(variableId, value.periodString)
          }">-->
          <span *ngIf="editionIdx!==idx">{{ computedValue(value.value, selectedUnitsByRow[idx]) | number:numberFormat }}</span>
          <input *ngIf="editionIdx===idx" (focus)="focus()" (focusout)="blur()" id="input-grid-{{periodIdx}}" onfocus="this.select()"
            type="number" style="min-width:130px;text-align: right;background: white !important;"
            class="form-control form-control-sm" 
            [(ngModel)]="tmpValues[periodIdx].value"
            
            >
          <!--<i class="fa fa-comment comment"   title="{{comment(variableId, value.periodString)}}" (click)="openComment()" [ngClass]="{'fill': comment(variableId, value.periodString)}"></i>-->
        <!--</span>-->
      </td>
    </tr>
    </tbody>
  </table>
</div>