<div style="overflow-x: scroll;">
  <table class="table table-condensed table-bordered">
    <thead>
    <tr>
      <th>Category</th>
      <th>Variable</th>
      <th>Unit</th>
      <th *ngFor="let column of value().data.values">{{column.periodString}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let variableId of editor.variableIds">
      <td>{{document.variableDefinitions[variableId].category.name}}</td>
      <td>{{document.variableDefinitions[variableId].prompt}}</td>
      <td>{{value(variableId).data.unitLabel}}</td>
      <td *ngFor="let value of value(variableId).data.values">{{ value.value }}</td>
    </tr>
    </tbody>
  </table>
</div>