<md-toolbar color="primary">
  Workgroups
  <span class="app-toolbar-filler"></span>
  <button md-button>
    <md-icon class="example-icon">group_add</md-icon>
  </button>
</md-toolbar>
<div class="app-content">
  <div style="padding-bottom: 70px;">
    <!--<md-card>-->
      <md-data-table layout-fill>
        <thead>
        <tr>
          <th class="md-text-cell">Workgroup</th>
          <th class="md-text-cell">Description</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let group of groups">
          <td class="md-text-cell">{{ group.workgroupName }}</td>
          <td class="md-text-cell">{{ group.description }}</td>
          <td>
            <button md-button md-tooltip="Edit group" (click)="edit(group)">
              <md-icon>edit</md-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </md-data-table>
    <!--</md-card>-->
    <!--<span class="app-action" [class.m2app-dark]="isDarkTheme">
      <button md-fab><md-icon>add circle</md-icon></button>
    </span>-->
  </div>
</div>