<ngb-accordion #acc="ngbAccordion" activeIds="{{isExpanded?'main-panel':''}}">
  <ngb-panel id="main-panel">
    <template ngbPanelTitle>
       <i [hidden]="acc.activeIds.length!==0" class="fa fa-chevron-right"  style="width: 16px;"></i>
       <i [hidden]="acc.activeIds.length===0" class="fa fa-chevron-down"  style="width: 16px;"></i>
       {{content.name}}
    </template>
    <template ngbPanelContent>
      <div *ngFor="let content of content.contents">
        <template-loader [document]="document" [content]="content" [data]="data"></template-loader>
      </div>
    </template>
  </ngb-panel>
</ngb-accordion>