<md-toolbar color="primary">
  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  <span class="app-toolbar-filler"></span>
  
  <md-toolbar-row>
    <button md-fab md-tooltip="Add new Variable" style="margin-top: 60px">
      <md-icon>add</md-icon>
    </button>
    <span style="margin-left: 2em">Variables</span>
  </md-toolbar-row>
</md-toolbar>
<div class="app-content">
  <div>
    <md-pagination [model]="pagination" name="basic" (on-pagination-change)="detectChange($event)"
        [items-per-page-options]="availableLength"></md-pagination>
    <md-data-table style="width: 100%; table-layout: fixed">
      <thead>
      <tr>
        <th class="md-text-cell" style="width: 30px">ID</th>
        <th class="md-text-cell" style="width: 20%">Name</th> <!--style="max-width: 300px"-->
        <th class="md-text-cell">Category</th>
        <th class="md-text-cell" style="width: 200px">Prompt</th>
        <th class="md-text-cell">Comments</th>
        <th class="md-text-cell">Data Type</th>
        <th class="md-text-cell">Unit Type</th>
        <th class="md-text-cell">Sub Category</th>
        <th class="md-text-cell" style="width: 20%">Lookup List</th>
        <th style="width: 40px"></th>
        <th style="width: 40px"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let variable of pagedItems">
        <td class="md-text-cell">{{ variable.id }}</td>
        <td class="md-text-cell" title="{{variable.name}}" style="text-overflow: ellipsis;overflow: hidden;">{{ variable.name }}</td> <!-- style="max-width: 300px;text-overflow: ellipsis;overflow: hidden;"-->
        <td class="md-text-cell">{{ variable.categoryId }}</td>
        <td class="md-text-cell">{{ variable.prompt }}</td>
        <td class="md-text-cell">{{ variable.comments }}</td>
        <td class="md-text-cell">{{ variable.variableDataType }}</td>
        <td class="md-text-cell">{{ variable.unitType }}</td>
        <td class="md-text-cell">{{ variable.subcategories }}</td>
        <td class="md-text-cell" title="{{variable.lookupList}}" style="text-overflow: ellipsis;overflow: hidden;">{{ variable.lookupList }}</td>
        <td>
          <button md-icon-button md-tooltip="Edit" (click)="edit(variable)">
            <md-icon>open_in_new</md-icon>
          </button>
        </td>
        <td>
          <button md-icon-button md-tooltip="Edit" routerLink="/variables/{{variable.id}}">
            <md-icon>edit</md-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </md-data-table>
    <md-pagination [model]="pagination" name="basic" (on-pagination-change)="detectChange($event)"
        [items-per-page-options]="availableLength"></md-pagination>
  </div>
</div>