<div class="modal-header">
  <h4 class="modal-title">Comment</h4>
</div>
<div class="modal-body">
  <div class="form-group row no-gutters">
    <textarea #inputComment
        (focus)="inputComment.select()"
        [ngModel]="value.comment()"
        [readonly]="readonly"
        class="form-control">
    </textarea>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="ok(inputComment.value)" [hidden]="readonly">
    <i class="fa fa-check" ></i> Ok
  </button>
  <button type="button" class="btn btn-outline-secondary" (click)="cancel()">
    <i class="fa fa-times" ></i>
    <span [hidden]="readonly">Cancel</span>
    <span [hidden]="!readonly">Close</span>
  </button>
</div>