<div class="container-fluid main-container"> 
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-ps" style="height: 30px">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">PlanningSpace - Dataflow</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-secondary btn-sm" (click)="login()">Login</button>
      </form>
    </div>
  </nav>
  <div>
    <div class="main-navigation"><app-hierarchy-panel (onSelect)="open($event)"></app-hierarchy-panel></div>
    <div class="main-content">
      <!-- waiting for https://github.com/ng-bootstrap/ng-bootstrap/issues/1161 -->
      <!--<ngb-tabset #tab>
        <ngb-tab *ngFor="let document of documents; let idx = index" title="{{document.name}}" id="main_{{idx}}">
          <template ngbTabContent>
            <app-document-detail [variableId]="document.documentId"></app-document-detail>
          </template>
        </ngb-tab>
      </ngb-tabset>-->
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let document of documents; let documentIndex=index">
          <a class="nav-link" [class.active]="activeIdx === document.idx" href="javascript:void(0)" (click)="activeIdx = document.idx">{{document.name}}</a>
          <button (click)="closeTab(document.idx, documentIndex)" type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: relative;top: -45px;height: 0;right: 1px;">
            <span >&times;</span>
          </button>
        </li>
      </ul>
      <div *ngFor="let document of documents" [hidden]="activeIdx !== document.idx" >
        <app-document-detail [documentId]="document.documentId" [versionId]="document.versionId"></app-document-detail>
      </div>
      
    </div>
  </div>  
</div>
<!-- placeholder for model container -->
<template ngbModalContainer></template> 
<!-- placeholder for toast -->
<ng2-toasty></ng2-toasty>
<!-- placeholder for loading bar -->
<ng2-slim-loading-bar [color]="'red'" [height]="'4px'"></ng2-slim-loading-bar>