<div class="form-group row no-gutters" [ngClass]="{
    'over': isOver,
    'dirty': value().state.dirty,
    'has-expression': expression(),
    'has-comment': comment()
  }">
  <label class="col-sm-3 col-form-label col-form-label-sm">{{document.variableDefinitions[variableId()].prompt}}</label>
  <div class="col-sm-9">
    <textarea
        #input
        class="form-control form-control-sm" 
        [readonly]="expression() ? 'true' : null"
        [disabled]="document.readonly"
        [ngModel]="value().safe()"
        (blur)="value().update(input.value)"
        >
    </textarea>
    <i class="fa fa-comment comment" aria-hidden="true" [readonly]="document.readonly" title="{{comment()}}" [open-comment]="value()" [ngClass]="{'fill': comment()}"></i>
    <span class="expression" title="{{expression()}}" [ngClass]="{'fill': expression()}">&fnof;</span>
  </div>
</div>