<div class="hierarchy" style="overflow-x: scroll;border: solid 1px lightgray;">
  <select [(ngModel)]="selectedVersion" style="width: 100%" class="form-control" style="border-radius: 0;font-weight: bold;">
    <option *ngFor="let version of versions" [ngValue]="version" (onSelect)="loadDocuments()">
      {{ version.name }}
    </option>
  </select>
  <Tree [nodes]="hierarchy" [options]="options">
    <template #treeNodeTemplate let-node="node" let-index="index">
      <img src="/assets/images/tree/{{node.data.nodeType.imageKey}}.png"
                 style="position: relative;;width: 17px;height: 17px;top:-2px" />
      <span (click)="select(node.data)">{{ node.data.name }}</span>
    </template>
    <template #treeNodeFullTemplate
          let-node="node"
          let-index="index"
          let-templates="templates">
      <div
          *ngIf="!node.isHidden"
          class="tree-node tree-node-level-{{ node.level }}"
          [class]="node.getClass()"
          [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
          [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren"
          [class.tree-node-leaf]="node.isLeaf"
          [class.tree-node-active]="node.isActive"
          [class.tree-node-focused]="node.isFocused">

        <TreeNodeDropSlot *ngIf="index === 0" [dropIndex]="index" [node]="node.parent">
        </TreeNodeDropSlot>

        <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
          <TreeNodeExpander style="width: 18px" [node]="node"></TreeNodeExpander>
          <div class="node-content-wrapper" 
            (click)="node.mouseAction('click', $event)"
            (dblclick)="node.mouseAction('dblClick', $event)"
            (contextmenu)="node.mouseAction('contextMenu', $event)"
            (treeDrop)="node.onDrop($event)"
            [treeAllowDrop]="node.allowDrop"
            [treeDrag]="node"
            [treeDragEnabled]="node.allowDrag()">

            <TreeNodeContent [node]="node" [index]="index" [template]="templates.treeNodeTemplate">
            </TreeNodeContent>
          </div>
        </div>

        <TreeNodeChildren [node]="node" [templates]="templates"></TreeNodeChildren>
        <TreeNodeDropSlot [dropIndex]="index + 1" [node]="node.parent"></TreeNodeDropSlot>
      </div>
    </template>
  </Tree>
</div>