<md-toolbar color="primary">
  Users
  <span class="app-toolbar-filler"></span>
  <button md-fab md-tooltip="Add new User" style="margin-top: 60px">
    <md-icon>add</md-icon>
  </button>
</md-toolbar>
<div class="app-content">
  <div> <!--<div style="padding-bottom: 70px;">-->
    <!--<md-card>-->
      <md-data-table layout-fill>
        <thead>
        <tr>
          <th class="md-text-cell">Login ID</th>
          <th class="md-text-cell">Domain</th>
          <th class="md-text-cell">User Name</th>
          <th class="md-text-cell">Description</th>
          <th class="md-text-cell">Account Expiry Date</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td class="md-text-cell">{{ user.loginId }}</td>
          <td class="md-text-cell">{{ user.domain }}</td>
          <td class="md-text-cell">{{ user.userName }}</td>
          <td class="md-text-cell">{{ user.description }}</td>
          <td class="md-text-cell">{{ user.expirationDate | date }}</td>
          <td>
            <button md-button md-tooltip="Edit user" (click)="edit(user)">
              <md-icon>edit</md-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </md-data-table>
    <!--</md-card>-->
    <!--<span class="app-action" [class.m2app-dark]="isDarkTheme">
      <button md-fab><md-icon>add circle</md-icon></button>
    </span>-->
  </div>
</div>