body {
  margin: 0;
}

/*.active a {
  font-weight: 600 !important;
}
*/
form .p50 {
    width: 49%
}

form .p100 {
    width: 100%
}

/*From component*/
md-sidenav-layout.m2app-dark {
  background: black;
}

.app-content {
  padding: 20px;
}

.app-sidenav {
  min-width: 330px;
  max-width: 330px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px; 
  right: 35px;
}

.tree {
  white-space: nowrap !important;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
 
::-webkit-scrollbar-thumb {
    background: rgba(128,128,128,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(128,128,128,0.4); 
}

.modal-xl>div {
    width: 90% !important;
    max-width: 1100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.pointer {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed !important;
}

.indeterminate + span {
    background-color: #0275d8 !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E") !important;
}

.custom-control-input:disabled.indeterminate + span {
    background-color: #eceeef !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E") !important;
}