body {
  margin: 0;
}

/*.active a {
  font-weight: 600 !important;
}
*/
form .p50 {
    width: 49%
}

form .p100 {
    width: 100%
}

/*From component*/
md-sidenav-layout.m2app-dark {
  background: black;
}

.app-content {
  padding: 20px;
}

.app-sidenav {
  min-width: 330px;
  max-width: 330px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px; 
  right: 35px;
}

.tree {
  white-space: nowrap !important;
}

.hierarchy .toggle-children {
  background-image: url('/assets/images/tree/ic_chevron_right_black_24px.svg');
  width: 24px;
  height: 24px;
}

.hierarchy .toggle-children-wrapper {
  padding-right: 0px;
  margin-right: -7px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
 
::-webkit-scrollbar-thumb {
    background: rgba(128,128,128,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(128,128,128,0.4); 
}

