<div style="margin: 0.5em">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--<a class="navbar-brand">{{document.documentName}}</a>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-primary" (click)="save()">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </nav>
  <!--<h3>{{document.documentName}}</h3>-->
  <div *ngIf="document.template && data">
    <template-loader 
      *ngFor="let content of document.template.contents" 
      [document]="document" 
      [content]="content"
      [data]="data">
    </template-loader>
  </div>
</div>
