<div style="border: 1px solid #5bc0de; ">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="form-inline"  *ngIf="document.conceptDefinition">
        <label class="col-form-label-sm">Scenario</label>
        <select [(ngModel)]="selectedScenario" class="form-control form-control-sm" style="margin-left: 1em" (change)="changeScenario()">
          <option *ngFor="let scenario of document.conceptDefinition.concepts" [ngValue]="scenario">
            {{scenario.name}}
          </option>
        </select>
        <label style="margin-left: 1em" class="col-form-label-sm">Revisions</label>
        <select [(ngModel)]="selectedRevision" class="form-control form-control-sm" style="margin-left: 1em" (change)="changeRevision()">
          <option *ngFor="let revision of revisions" [ngValue]="revision">
            {{revision.description}}
          </option>
        </select>
      </div>
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-primary" (click)="save()">
          <i [hidden]="loadingService.progress === 0" class='fa fa-circle-o-notch fa-spin'></i> 
          <i [hidden]="loadingService.progress !== 0" class="fa fa-floppy-o" ></i>
        </button>
      </form>
    </div>
  </nav>
  <div *ngIf="document.template && data" style="background: rgb(245, 245, 245)">
    <template-loader 
      *ngFor="let content of document.template.contents" 
      [document]="document" 
      [content]="content"
      [scenario]="selectedScenario"
      [data]="data">
    </template-loader>
  </div>
</div>
